/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

/* Border-Box */

* {
  box-sizing: border-box;

}

/* Fonts */

@font-face {
    font-family: 'GT-Pressura-Regular';
    src: url('../fonts/GT-Pressura-Regular.woff');
}

/* Pinpoints styles */

$pp-indigo: rgb(20,15,49);
$pp-red: rgb(255,0,0);
$pp-blue: rgb(18,0,255);

$padding-unit: 1em;
$on-mobile: 860px;

html {
  background-color: $pp-indigo;
  color: white;
  font-family: 'GT-Pressura-Regular';
}


.header {
  height: 4.8em;
  width: 100%;
  background: linear-gradient(to right, $pp-red 65%, $pp-indigo 100%);
  padding: $padding-unit 2 * $padding-unit;
  @media(max-width: $on-mobile){
    padding: $padding-unit $padding-unit;
  }

  img {
    height: 100%;
  }
}

.copy {
  margin: auto;
  padding: 1em 1em;
  overflow: hidden;
  line-height: 1.5;
  max-width: 70em;
  letter-spacing: 1px;
  text-align: center;

  @media(max-width: $on-mobile){
  }
  h2 {
    font-size: 4em;
    @media(max-width: $on-mobile){
      font-size: 2.0em;
    }
  }
}

.app {
  min-height: 960px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.content {
  flex: 1;
  display: flex;
  position: relative;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.arrow {
  z-index: 1;
  position: absolute;
  top: calc(50% - 30px);

  @media(max-width: $on-mobile) {
    top: auto;
    bottom: -58px;
  }

  img {
    height: 80px;
    opacity: 0.9;

    @media(max-width: $on-mobile) {
      height: 50px;
    }
  }
}

.arrow:hover, .arrow:focus {
  cursor: pointer;
  img {
    opacity: 1.0;
  }
}

.arrow-left {
  left: 2 * $padding-unit;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.arrow-right {
  right: 2 * $padding-unit;
}

a.button {
  margin: 2em 0em 1em 0em;
  display: inline-block;
  padding: 0.5em 2em 0.6em 2em;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: color 0.1s, background 0.3s;
}

a.button:hover, a.button:focus {
  background: rgba(255,255,255,0.05);
}

.videoPlayer {
  max-width: 100%;
  min-height: 360px;
  margin-top: $padding-unit;
  @media(max-width: $on-mobile){
    min-height: 220px;
  }
}

.social {
  float: right;
  a.button {
    padding: 0.8em $padding-unit * 0.75;
    margin: 0px 1em;
    margin-right: 0em;
  }

  a.button:hover, a.button:focus {
    color: $pp-indigo;
    background: white;
  }
}


#verdes-logo {
  display: block;
}

#verdes-bird {
  display: block;
  margin: auto;
  height: 2.0em;
  @media(max-width: $on-mobile){
    height: 1.5em;
  }
  margin-bottom: 0.75em;
}

#verdes-text {
  height: 0.45em;
  display: block;
  margin: auto;
}


#verdes-logo:hover #verdes-bird {
  -webkit-animation: bounce .52s infinite ease-in-out;
  -moz-animation: bounce .52s infinite ease-in-out;
  -o-animation: bounce .52s infinite ease-in-out;
  animation: bounce .52s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0%   { transform: translate( 0px, 0px ); }
  50%   { transform: translate( 0px, -3px ); }
  100%   { transform: translate( 0px, 0px ); }
}

@-moz-keyframes bounce {
  0%   { transform: translate( 0px, 0px ); }
  50%   { transform: translate( 0px, -3px ); }
  100%   { transform: translate( 0px, 0px ); }
}

@-o-keyframes bounce {
  0%   { transform: translate( 0px, 0px ); }
  50%   { transform: translate( 0px, -3px ); }
  100%   { transform: translate( 0px, 0px ); }
}

@keyframes bounce {
  0%   { transform: translate( 0px, 0px ); }
  50%   { transform: translate( 0px, -3px ); }
  100%   { transform: translate( 0px, 0px ); }
}
